[Desktop Entry]
Name=Oracle SQL Developer
Comment=
Exec={{ ansible_env.HOME }}/etc/sqldeveloper/sqldeveloper.sh
Icon={{ ansible_env.HOME }}/etc/sqldeveloper/icon.png
Terminal=false
StartupWMClass=Oracle
Type=Application
